<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBuildingMapper">
    
    <resultMap type="SysBuilding" id="SysBuildingResult">
        <result property="id"    column="bid"    />
        <result property="buildNum"    column="build_num"/>
        <collection property="sysFloorList" ofType="com.ruoyi.system.domain.SysFloor">
        <id column="fid" property="id"/>
        <result column="floor_num" property="floorNum"/>
            <collection property="sysRoomList" ofType="com.ruoyi.system.domain.SysRoom">
                <id column="rid" property="id"/>
                <result column="room_num" property="roomNum"/>
            </collection>
        </collection>
    </resultMap>

    <sql id="selectSysBuildingVo">
        select id bid, build_num from sys_building
    </sql>

    <select id="selectSysBuildingList" parameterType="SysBuilding" resultMap="SysBuildingResult">
        <include refid="selectSysBuildingVo"/>
        <where>  
            <if test="buildNum != null  and buildNum != ''"> and build_num = #{buildNum}</if>
        </where>
    </select>
    
    <select id="selectSysBuildingById" parameterType="Long" resultMap="SysBuildingResult">
        <include refid="selectSysBuildingVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysBuilding" parameterType="SysBuilding" useGeneratedKeys="true" keyProperty="id">
        insert into sys_building
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buildNum != null">build_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buildNum != null">#{buildNum},</if>
         </trim>
    </insert>

    <update id="updateSysBuilding" parameterType="SysBuilding">
        update sys_building
        <trim prefix="SET" suffixOverrides=",">
            <if test="buildNum != null">build_num = #{buildNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysBuildingById" parameterType="Long">
        delete from sys_building where id = #{id}
    </delete>

    <delete id="deleteSysBuildingByIds" parameterType="String">
        delete from sys_building where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectSysBuildingAllDate" parameterType="SysBuilding" resultMap="SysBuildingResult">
     SELECT
	b.id bid,
	b.build_num,
	f.id fid,
	f.floor_num,
	r.id rid,
	r.room_num
    FROM
	sys_building b
	LEFT JOIN sys_floor f ON b.id = f.build_id
	LEFT JOIN sys_room r ON f.id = r.floor_id
    where  1=1 order by b.id
    </select>
</mapper>