<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysConfOrderMapper">
    
    <resultMap type="SysConfOrder" id="SysConfOrderResult">
        <result property="confOrderId"    column="conf_order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="confId"    column="conf_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="confTitle"    column="conf_title"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSysConfOrderVo">
      select conf_order_id , user_id, conf_id, date_format(create_time,'%Y-%m-%d %h:%i') create_time,  date_format(start_time,'%Y-%m-%d %h:%i') start_time, date_format(end_time,'%Y-%m-%d %h:%i')end_time, conf_title, status from sys_conf_order
  </sql>

    <select id="selectSysConfOrderList" parameterType="SysConfOrder" resultType="java.util.HashMap">
        select o.conf_order_id as confOrderId , o.user_id as userId, u.user_name as userName,o.conf_id as confId, date_format(o.create_time,'%Y-%m-%d %h:%i') createTime,  date_format(o.start_time,'%Y-%m-%d %h:%i') startTime, date_format(o.end_time,'%Y-%m-%d %h:%i') endTime, o.conf_title as confTitle, o.status from sys_conf_order o ,sys_user  u where o.user_id=u.user_id  and o.status=0

            <if test="confId != null "> and o.conf_id = #{confId}</if>
            <if test="startTime != null "> and o.start_time = #{startTime}</if>
            <if test="endTime != null and endTime != ''"> and o.end_time = #{endTime}</if>
            <if test="confTitle != null  and confTitle != ''"> and o.conf_title = #{confTitle}</if>
            <if test="status != null "> and o.status = #{status}</if>

    </select>
    
    <select id="selectSysConfOrderById" parameterType="Long" resultType="java.util.HashMap">
     select o.conf_order_id as confOrderId , o.user_id as userId, u.user_name as userName,o.conf_id as confId, date_format(o.create_time,'%Y-%m-%d %h:%i') createTime,  date_format(o.start_time,'%Y-%m-%d %h:%i') startTime, date_format(o.end_time,'%Y-%m-%d %h:%i') endTime, o.conf_title as confTitle, o.status from sys_conf_order o ,sys_user  u where o.user_id=u.user_id
        and o.conf_order_id = #{confOrderId}
    </select>
        
    <insert id="insertSysConfOrder" parameterType="SysConfOrder" useGeneratedKeys="true" keyProperty="confOrderId">
        insert into sys_conf_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="confId != null">conf_id,</if>
            create_time,
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="confTitle != null and confTitle != ''">conf_title,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="confId != null">#{confId},</if>
            sysdate(),
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="confTitle != null and confTitle != ''">#{confTitle},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateSysConfOrder" parameterType="SysConfOrder">
        update sys_conf_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="confId != null">conf_id = #{confId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="confTitle != null and confTitle != ''">conf_title = #{confTitle},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where conf_order_id = #{confOrderId}
    </update>

    <delete id="deleteSysConfOrderById" parameterType="Long">
        delete from sys_conf_order where conf_order_id = #{confOrderId}
    </delete>

    <delete id="deleteSysConfOrderByIds" parameterType="String">
        delete from sys_conf_order where conf_order_id in 
        <foreach item="confOrderId" collection="array" open="(" separator="," close=")">
            #{confOrderId}
        </foreach>
    </delete>
    
</mapper>